*{
	margin: 0;
	padding: 0;
	font-family: Century Ghotic;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bgindex6.jpg);
	height: 1000px;
	background-size: cover;
}
.main{
	width: 80%;
	margin: auto;
}
.navbar{
	margin: 30px auto;
	display: flex;
	align-items: center;
}
ul{
	flex: 1;
	text-align: right;
}
ul li{
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}
ul li a{
	text-decoration: none;
	color: #000;
	padding: 0 10px;
	position: relative;
}
ul li a::after{
	content: '';
	width: 0;
	height: 10px;
	background:	#FA8072;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -55px;
	transition: 0.5s;
}
ul li a:hover::after{
	width: 100%;
}
fieldset{
	width: 510px;
	height: 480px;
	padding: 10px;
	border-radius: 30px;
	background-color: #E9967A;
}	
fieldset p{
	font-size: 20px;
	color: #fff;
	margin: 50px;
}
.resto2 img{
	position:absolute;
	top: 250px;
	left: 950px;
}
.resto3 img{
	position:absolute;
	top: 830px;
	left: 900px;
}
.Mission{
	position: absolute;
	top: 700px;
}
.mama{
	position: absolute;
	top: 180px;
}
